#connect {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background: #2da1ec;
	border-radius: 5px;
	padding: 10px;
}

#send {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: #fcbb13;
	border-radius: 10px;
	padding: 7px;
}

#disconnect {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	background: #219a1b;
	border-radius: 10px;
	padding: 7px;
}

p1{
	font-family: "Symbol",sans-serif;
}


body {
font: 100% verdana, arial, sans-serif;
background-color: #fff;
margin: 50px;
}

fieldset {
	background-color: #fffbb6;
    -moz-border-radius: 5px; /* for Firefox */
    -webkit-border-radius: 5px; /* for Chrome */
}

timeTxt{
	font-size: 10px;
	color: #3e3d3d;
	font-style: italic;
}

